<div class="card">
  <h5 class="card-header">
    {{this.product.title}}
  </h5>
  <div class="card-body">
    <img src="/static/imgs/sp/{{this.product.id}}/main.jpg" alt="{{this.product.title}}" class="card-img-top">
    <p class="card-text">
      Giá bán: <span class="text-danger font-weight-bold">{{format_number this.product.Price}}</span>
    </p>
    <p class="card-text">
      Tồn kho: {{this.product.Quantity}}
    </p>
    <h5 class="card-text">Mô tả sản phẩm</h5>
    <p class="card-text">
      {{{this.product.content}}}
    </p>
  </div>
  <div class="card-footer text-muted">
    Footer
  </div>
</div>